<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Sign in</h1>
    </div>
  </div>
</section>
<div class="section-indent">
  <div class="container has-text-dark">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, :class => "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input" %>
      </div>

      <div class="field">
        <%= f.label :password, :class => "label" %>
        <%= f.password_field :password, autocomplete: "current-password", :class => "input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, :type => "checkbox" %>
          <%= f.label :remember_me, :class => "checkbox" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", :class =>"button is-primary has-text-weight-bold" %>
      </div>
    <% end %>
 
    <div class="is-link">
        <%= render "devise/shared/links" %>
    </div> 
  </div>
</div>